body {
  font-family: Arial, sans-serif;
  background-color: #daf8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left
}

h2 {
  margin-bottom: 20px;
}

.campo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select, input {
  padding: 14px;             
  font-size: 18px;            
  width: 250px;              
  margin-bottom: 10px;
  border-radius: 10px;       
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
